{% load static %}

<link rel="stylesheet" href="{% static 'quizapp/style.css' %}">
<table class="table"; style="display: grid;"  >
  <thead>
    <tr style="color: aliceblue; size: 70px;">
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Atomic Weight</th>
    </tr>
  </thead>
  <tbody style="color: aliceblue; size: 70px;">
    <tr>
      <th scope="row">1</th>
      <td>Hydrogen</td>
      <td>H</td>
      <td>1.008</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Helium</td>
      <td>He</td>
      <td>4.003</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lithium</td>
      <td>Li</td>
      <td>6.941</td>
    </tr>
  </tbody>
</table>